.select {
  background-image: url("../../assets/img/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 8px center;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &.input {
    padding: 8px 32px 8px 16px;

    @include media-breakpoint-down(xs) {
      padding: 6px 24px 6px 12px;
      background-position: right 2px center;
    }
  }
}

select::-ms-expand {
  display: none;
}