// =============================================================================
// Headings
// =============================================================================

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: normal;
}

// =============================================================================
// Text
// =============================================================================

p {
  margin: 1.5em 0;
  color: inherit;
  font-family: inherit;
  line-height: normal;
}

// =============================================================================
// List
// =============================================================================

ul,
ol {
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  line-height: normal;
}
