$transition: 0.5s;

.advantage-cards {
  $root: &;

  display: flex;

  &__col {
    display: flex;
    flex-direction: column;

    &:first-of-type {
      flex-shrink: 0;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: $transition;

    &:hover {
      background-color: $white;
      box-shadow: $boxShadowLanding;
    }
  }

  &__img {
    width: 21px;
    height: 21px;
    margin-right: 12px;
  }

  &__title {
    font-size: 17px;
    font-family: $font-montserrat-semi;
    letter-spacing: 0.68px;
    text-transform: uppercase;
  }
}
