// =============================================================================
// Constants
// =============================================================================

// Colors
$white: #fff;
$black: #000;
$blue: #97aff3;
$silver: #c5c8cd;
$paleGrey: #f6f7fb;
$dullBlue: #506aa6;
$limeGreen: #00a00d;
$lightNavy: #13295c;
$darkSlateBlue: #192959;
$battleshipGrey: #6b7382;

// landing
$malibu: #91b0f9;
$alabaster: #f8f8f8;

// Shadow
$boxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
$boxShadowLanding: 0px 1px 12px #0000001c;

// Fonts
$secure-fonts: Arial, Helvetica, Sans-serif;
$font-montserrat-regular: Montserrat-Regular, $secure-fonts;
$font-montserrat-medium: Montserrat-Medium, $secure-fonts;
$font-montserrat-semi: Montserrat-SemiBold, $secure-fonts;
$font-montserrat-bold: Montserrat-Bold, $secure-fonts;
$font-openSans-regular: OpenSans-Regular, $secure-fonts;
$font-openSans-semi: OpenSans-SemiBold, $secure-fonts;
$default-font-size: 16px;

// =============================================================================
// Variables
// =============================================================================

// body
$body-bg: $paleGrey;
$body-color: $black;
$body-font-family: $font-montserrat-regular;
$body-font-size: $default-font-size;

// Layout
$layout-gutter-widths: (
  sm: 30px,
  xl: 60px
);
$layout-header-min-height: 80px;
$layout-footer-min-height: auto;

// Grid
$enable-grid-classes: true;
$grid-columns: 8;
$grid-gutter-width: 0;

$grid-breakpoints: (
  xxs: 0,
  xs: 568px,
  sm: 768px,
  md: 1000px,
  lg: 1200px,
  xl: 1440px
);

// Responsive version
$container-max-widths: (
  xxs: 92%,
  xs: 96%,
  sm: 96%,
  md: 96%,
  lg: 96%,
  xl: 1400px
);

// Popups
$popup-overlay-bg: $silver;
$popup-overlay-opacity: 0.5;
$popup-width: 800px;