// =============================================================================
// Constants
// =============================================================================

// Colors
$white:          #fff;
$black:          #000;

$bright-red:     #a60002;

// Fonts
$secure-fonts: Arial, Helvetica, "Nimbus Sans", Sans-serif;
$font-segoeui-regular: SegoeUI-Regular, $secure-fonts;
$default-font-size: 16px;

// =============================================================================
// Variables
// =============================================================================

// body
$body-bg: $white;
$body-color: $black;
$body-font-family: $secure-fonts;
$body-font-size: $default-font-size;

// Layout
$layout-gutter-widths: (
  sm: 30px,
  xl: 60px
);
$layout-header-min-height: 150px;
$layout-footer-min-height: 300px;

// Grid
$enable-grid-classes: true;
$grid-columns: 100;
$grid-gutter-width: 0;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Desktop-only version
//$container-max-widths: (
//  sm: 1200px
//);

// Responsive version
$container-max-widths: (
  xs: 320px,
  sm: 520px,
  xl: 1200px
);

// Popups
$popup-overlay-bg: $bright-red;
$popup-overlay-opacity: 0.5;
$popup-width: 800px;