<section class="features">
  <div class="features__container">
    <header class="features__header">
      <h2 class="features__heading">Features</h2>
    </header>
    <div class="features__main">
      <ul class="features__list">
        <li class="features__item"><!-- features__item--feature1 -->
          <div class="features__content">
            <div class="features__pic">
              <div class="features__icon">Icon</div>
<!--          <div class="features__icon">-->
<!--            <svg>-->
<!--              <use xlink:href="#id" />-->
<!--            </svg>-->
<!--          </div>-->
            </div>
            <div class="features__body">
              <p class="features__title">Feature 1</p>
              <p class="features__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur doloremque ea et illum ipsa laudantium perferendis quidem repellat.</p>
            </div>
          </div>
        </li>
        <li class="features__item">
          <div class="features__content">
            <div class="features__pic">
              <div class="features__icon">Icon</div>
<!--          <div class="features__icon">-->
<!--            <svg>-->
<!--              <use xlink:href="#id" />-->
<!--            </svg>-->
<!--          </div>-->
            </div>
            <div class="features__body">
              <p class="features__title">Feature 2</p>
              <p class="features__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur doloremque ea et illum ipsa laudantium perferendis quidem repellat.</p>
            </div>
          </div>
        </li>
        <li class="features__item">
          <div class="features__content">
            <div class="features__pic">
              <div class="features__icon">Icon</div>
<!--          <div class="features__icon">-->
<!--            <svg>-->
<!--              <use xlink:href="#id" />-->
<!--            </svg>-->
<!--          </div>-->
            </div>
            <div class="features__body">
              <p class="features__title">Feature 3</p>
              <p class="features__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur doloremque ea et illum ipsa laudantium perferendis quidem repellat.</p>
            </div>
          </div>
        </li>
        <li class="features__item">
          <div class="features__content">
            <div class="features__pic">
              <div class="features__icon">Icon</div>
<!--          <div class="features__icon">-->
<!--            <svg>-->
<!--              <use xlink:href="#id" />-->
<!--            </svg>-->
<!--          </div>-->
            </div>
            <div class="features__body">
              <p class="features__title">Feature 4</p>
              <p class="features__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur doloremque ea et illum ipsa laudantium perferendis quidem repellat.</p>
            </div>
          </div>
        </li>
        <li class="features__item">
          <div class="features__content">
            <div class="features__pic">
              <div class="features__icon">Icon</div>
<!--          <div class="features__icon">-->
<!--            <svg>-->
<!--              <use xlink:href="#id" />-->
<!--            </svg>-->
<!--          </div>-->
            </div>
            <div class="features__body">
              <p class="features__title">Feature 5</p>
              <p class="features__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur doloremque ea et illum ipsa laudantium perferendis quidem repellat.</p>
            </div>
          </div>
        </li>
        <li class="features__item">
          <div class="features__content">
            <div class="features__pic">
              <div class="features__icon">Icon</div>
<!--          <div class="features__icon">-->
<!--            <svg>-->
<!--              <use xlink:href="#id" />-->
<!--            </svg>-->
<!--          </div>-->
            </div>
            <div class="features__body">
              <p class="features__title">Feature 6</p>
              <p class="features__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur doloremque ea et illum ipsa laudantium perferendis quidem repellat.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>