.landing-nav-icon {
  $root: &;

  width: 40px;
  height: 40px;
  padding: 8px 6px;

  &__wrap {
    position: relative;
    height: 100%;
    cursor: pointer;
  }

  span {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 3px;
    background-color: $lightNavy;
    border-radius: 1px;
  }

  span:nth-child(1) {
    top: 4px;
  }

  span:nth-child(2) {
    top: 11px;
  }

  span:nth-child(3) {
    top: 18px;
  }
}