<div class="card">
  <div class="card__header">
    <div class="card__header-row">
      <div class="card__logo">
        <img class="card__logo-img" src="./assets/img/orient_logo.png" alt="company-logo">
      </div>
      <div class="card__items">
        <div class="card__item">
          <h4 class="card__title">Area</h4>
          <h5 class="card__val h5 h5--primary">Worldwide</h5>
          <div class="card__rating">
            <svg>
              <use xlink:href="#star"/>
            </svg>
            <span>4.5</span>
          </div>
        </div>
        <div class="card__item">
          <h4 class="card__title">Deductible</h4>
          <h5 class="card__val h5 h5--primary">20% co-pay</h5>
          <div class="card__rating">
            <svg>
              <use xlink:href="#star"/>
            </svg>
            <span>3.8</span>
          </div>
        </div>
        <div class="card__item">
          <h4 class="card__title">Yearly Cover</h4>
          <h5 class="card__val h5 h5--primary">AED 150000</h5>
          <div class="card__rating">
            <svg>
              <use xlink:href="#star"/>
            </svg>
            <span>1.0</span>
          </div>
        </div>
        <div class="card__item">
          <h4 class="card__title">Prescription Drugs</h4>
          <h5 class="card__val h5 h5--primary">Not Covered</h5>
          <div class="card__rating">
            <svg>
              <use xlink:href="#star"/>
            </svg>
            <span>0.2</span>
          </div>
        </div>
        <div class="card__item">
          <h4 class="card__title">Dental Cover</h4>
          <h5 class="card__val h5 h5--primary">Not Included</h5>
          <div class="card__rating">
            <svg>
              <use xlink:href="#star"/>
            </svg>
            <span>0</span>
          </div>
        </div>
        <div class="card__item">
          <h4 class="card__title">Hospitals</h4>
          <h5 class="card__val h5 h5--primary">Tier 4</h5>
          <div class="card__rating">
            <svg>
              <use xlink:href="#star"/>
            </svg>
            <span>3.2</span>
          </div>
        </div>
      </div>
      <div class="card__action">
        <h3 class="card__action-heading">
          AED 2363
        </h3>
        <button class="btn btn--uppercase">
          APPLY NOW
        </button>
        <div class="card__action-social">
          @include('components/features/social/social.html')
        </div>
      </div>
    </div>
  </div>
</div>