.progress-block {
  $root: &;

  padding: 24px 32px;
  background-color: $white;
  border-radius: 3px;
  box-shadow: $boxShadow;

  &__heading {
    margin: 0 0 24px;
    color: $darkSlateBlue;
    font-size: 24px;
    font-family: $font-montserrat-bold;
    letter-spacing: 0.21px;
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    max-width: 75%;
  }

  &__item {
    display: flex;
    align-items: center;

    &-mark {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      margin-right: 4px;
      color: $white;
      font-size: 14px;
      font-family: $font-montserrat-semi;
      background-color: $silver;
      border-radius: 50%;
    }

    &-desc {
      margin: 0;
      color: $battleshipGrey;
      font-size: 14px;
      font-family: $font-montserrat-semi;
      line-height: 1.71;
      letter-spacing: 0.13px;
    }

    &-divider {
      width: 120px;
      height: 1px;
      margin-left: 12px;
      background-color: $silver;
      opacity: 0.7;
    }

    &--current {
      .progress-block__item-mark {
        background-color: $blue;
      }

      .progress-block__item-desc {
        color: $darkSlateBlue;
      }
    }

    &--done {
      .progress-block__item-mark {
        background-color: $limeGreen;
      }

      .progress-block__item-desc {
        color: $darkSlateBlue;
      }
    }
  }

}