<section class="progress-block">
  <div class="progress-block__container">
    <header class="progress-block__header">
      <h2 class="progress-block__heading">Medical insurance quote</h2>
    </header>
    <div class="progress-block__main">
      <div class="progress-block__item progress-block__item--done">
        <div class="progress-block__item-mark">
          <svg>
            <use xlink:href="#done"/>
          </svg>
        </div>
        <p class="progress-block__item-desc">Details</p>
        <div class="progress-block__item-divider"></div>
      </div>
      <div class="progress-block__item progress-block__item--current">
        <div class="progress-block__item-mark">
          <svg>
            <use xlink:href="#edit"/>
          </svg>
        </div>
        <p class="progress-block__item-desc">Results</p>
        <div class="progress-block__item-divider"></div>
      </div>
      <div class="progress-block__item">
        <div class="progress-block__item-mark">
         3
        </div>
        <p class="progress-block__item-desc">Payment</p>
        <div class="progress-block__item-divider"></div>
      </div>
      <div class="progress-block__item">
        <div class="progress-block__item-mark">
          4
        </div>
        <p class="progress-block__item-desc">Upload</p>
      </div>
    </div>

  </div>
</section>