<section class="reviews">
  <div class="reviews__container">
    <header class="reviews__header">
      <h2 class="reviews__heading">Reviews</h2>
    </header>
    <div class="reviews__main">
      <ul class="reviews__list">
        <li class="reviews__item">
          <blockquote class="reviews__content">
            <div class="reviews__pic">
              <div class="reviews__userpic">
                <img src="" alt="" width="100" height="100">
              </div>
            </div>
            <div class="contact-info__body">
              <cite class="reviews__name">Jhon Doe <a href="" class="reviews__nick">@jhondoe</a></cite>
              <p class="reviews__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto deserunt sapiente voluptas voluptatibus. Amet distinctio eum excepturi inventore ipsum iste, libero natus non, pariatur perferendis perspiciatis quaerat quidem soluta ullam?</p>
              <time class="reviews__date" datetime="2016-04-30">May 10, 2016</time>
            </div>
          </blockquote>
        </li>
        <li class="reviews__item">
          <blockquote class="reviews__content">
            <div class="reviews__pic">
              <div class="reviews__userpic">
                <img src="" alt="" width="100" height="100">
              </div>
            </div>
            <div class="contact-info__body">
              <cite class="reviews__name">Jhon Doe <a href="" class="reviews__nick">@jhondoe</a></cite>
              <p class="reviews__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto deserunt sapiente voluptas voluptatibus. Amet distinctio eum excepturi inventore ipsum iste, libero natus non, pariatur perferendis perspiciatis quaerat quidem soluta ullam?</p>
              <time class="reviews__date" datetime="2016-04-30">May 10, 2016</time>
            </div>
          </blockquote>
        </li>
      </ul>
    </div>
  </div>
</section>