<section class="progress-block">
  <div class="progress-block__container">
    <header class="progress-block__header">
      <h2 class="progress-block__heading">Medical insurance quote</h2>
    </header>
    <div class="progress-block__main">
      <div class="progress-block__item progress-block__item--done">
        <div class="progress-block__item-mark">
          <svg>
            <use xlink:href="#done"/>
          </svg>
        </div>
        <h5 class="h5 progress-block__item-desc">Details</h5>
        <div class="progress-block__item-divider"></div>
      </div>
      <div class="progress-block__item progress-block__item--done">
        <div class="progress-block__item-mark">
          <svg>
            <use xlink:href="#done"/>
          </svg>
        </div>
        <h5 class="h5 progress-block__item-desc">Results</h5>
        <div class="progress-block__item-divider"></div>
      </div>
      <div class="progress-block__item progress-block__item--current">
        <div class="progress-block__item-mark">
          <svg>
            <use xlink:href="#edit"/>
          </svg>
        </div>
        <h5 class="h5 progress-block__item-desc">Info</h5>
        <div class="progress-block__item-divider"></div>
      </div>
      <div class="progress-block__item">
        <div class="progress-block__item-mark">
          4
        </div>
        <h5 class="h5 progress-block__item-desc">Done</h5>
      </div>
    </div>
<!--    for mobile progress bar-->
    <div class="progress-block__mobile">
      <div class="progress-block__step progress-block__step--done">
        <div class="progress-block__step-dash"></div>
        <div class="progress-block__step-mark">
          <svg>
            <use xlink:href="#done"/>
          </svg>
          <h5 class="progress-block__step-title">Details</h5>
        </div>
      </div>
      <div class="progress-block__step progress-block__step--done">
        <div class="progress-block__step-dash"></div>
        <div class="progress-block__step-mark">
          <svg>
            <use xlink:href="#done"/>
          </svg>
          <h5 class="progress-block__step-title">Results</h5>
        </div>
      </div>

      <div class="progress-block__step progress-block__step--current">
        <div class="progress-block__step-dash"></div>
        <div class="progress-block__step-mark">
          <svg>
            <use xlink:href="#done"/>
          </svg>
          <h5 class="progress-block__step-title">Info</h5>
        </div>
      </div>
      <div class="progress-block__step">
        <div class="progress-block__step-dash"></div>
        <div class="progress-block__step-mark">
          <svg>
            <use xlink:href="#done"/>
          </svg>
          <h5 class="progress-block__step-title">Done</h5>
        </div>
      </div>
      <div class="progress-block__step">
        <div class="progress-block__step-dash"></div>
      </div>
    </div>
  </div>
</section>