.contacts-section {
  $root: &;

  width: 100%;
  background-color: $white;

  @include make-row();

  &__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 830px;
    margin: 0 auto;
    padding: 112px 0 132px;

    @include media-breakpoint-down(sm) {
      padding: 70px 0 80px;
    }
  }

  &__title {
    margin-bottom: 44px;
    font-size: 31px;
    font-family: $font-montserrat-bold;
    letter-spacing: 0;

    @include media-breakpoint-down(xxs) {
      align-self: center;
      max-width: 80%;
      margin-bottom: 10px;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.48px;
    }
  }

  &__subtitle {
    margin: 0 0 52px;
    font-size: 18px;
    font-family: $font-openSans-regular;
    line-height: 26px;
    letter-spacing: 0;

    @include media-breakpoint-down(xxs) {
      align-self: center;
      max-width: 90%;
      margin-bottom: 16px;
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__map {
    width: 100%;
    height: 380px;

    @include media-breakpoint-down(xxs) {
      height: 340px;
    }
  }
}