.contacts-section {
  $root: &;

  width: 100%;
  background-color: $white;

  @include make-row();

  &__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 830px;
    margin: 0 auto;
    padding: 112px 0 132px;
  }

  &__title {
    margin-bottom: 44px;
    font-size: 31px;
    font-family: $font-montserrat-bold;
    letter-spacing: 0;
  }

  &__subtitle {
    margin: 0 0 52px;
    font-size: 18px;
    font-family: $font-openSans-regular;
    line-height: 26px;
    letter-spacing: 0;
  }

  &__map {
    width: 100%;
  }
}