.layout {
  $root: &;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: map-get($container-max-widths, xs);

  &__header,
  &__footer,
  &__add,
  &__base-wrap-outer {
    @include make-container();
  }

  &__base-wrap-outer {
    @include make-container-max-widths();
  }

  &__base,
  &__base-wrap-outer {
    display: flex;
    flex-grow: 1;
  }

  &__base-wrap-outer {
    flex-direction: column;
  }

  &__base-wrap-inner {
    @include make-row();

    flex-grow: 1;
  }

  &__main,
  &__sidebar-primary {
    @include make-col-ready();

    flex-grow: 1;
  }

  &__sidebar-primary {
    @include make-col-fix(250px);

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__header {
    min-height: $layout-header-min-height;
  }

  &__footer {
    min-height: $layout-footer-min-height;
  }

  &__add {
    min-height: auto;
  }

  &__section {
    display: flex;
    min-height: auto;
  }

  &--viewport-height {

    #{$root}__base-wrap-inner {
      // Change it when you need to implement viewport-height modifier
      height: calc(100vh - #{$layout-header-min-height} - #{$layout-footer-min-height});
    }

    #{$root}__sidebar-primary,
    #{$root}__sidebar-secondary,
    #{$root}__main {
      height: 100%;
      overflow: auto;
    }
  }
}
