<nav class="nav-global nav-global--desktop">
  <div class="nav-global__close js-nav-global__close">
    <svg>
      <use xlink:href="#close"/>
    </svg>
  </div>
  <ul class="nav-global__list">
    <li class="nav-global__item">
      <a class="nav-global__link" href="/">
        <div class="nav-global__icon">
          <svg>
            <use xlink:href="#home"/>
          </svg>
        </div>
        <span>Home</span>
      </a>
    </li>
    <li class="nav-global__item">
      <a class="nav-global__link" href="">
        <div class="nav-global__icon">
          <svg>
            <use xlink:href="#plane"/>
          </svg>
        </div>
        <span>Travel Insurance</span>
      </a>
    </li>
    <li class="nav-global__item">
      <a class="nav-global__link nav-global__link--is-current" href="">
        <div class="nav-global__icon">
          <svg>
            <use xlink:href="#health"/>
          </svg>
        </div>
        <span>Health Insurance</span>
      </a>
    </li>
    <li class="nav-global__item">
      <a class="nav-global__link" href="">
        <div class="nav-global__icon">
          <svg>
            <use xlink:href="#car"/>
          </svg>
        </div>
        <span>Car Insurance</span>
      </a>
    </li>
    <li class="nav-global__item">
      <a class="nav-global__link" href="">
        <div class="nav-global__icon">
          <svg>
            <use xlink:href="#contact"/>
          </svg>
        </div>
        <span>Contact Us</span>
      </a>
    </li>
    <li class="nav-global__item">
      <a class="nav-global__link" href="">
        <div class="nav-global__icon">
          <svg>
            <use xlink:href="#about"/>
          </svg>
        </div>
        <span>About Us</span>
      </a>
    </li>
  </ul>
</nav>