<nav class="nav-global">
  <ul class="nav-global__list">
    <li class="nav-global__item">
      <a class="nav-global__link" href="/">Home</a>
    </li>
    <li class="nav-global__item">
      <a class="nav-global__link" href="">Travel Insurance</a>
    </li>
    <li class="nav-global__item">
      <span class="nav-global__link nav-global__link--is-current" href="">Health Insurance</span>
    </li>
    <li class="nav-global__item">
      <a class="nav-global__link" href="">Car Insurance</a>
    </li>
    <li class="nav-global__item">
      <a class="nav-global__link" href="">Contact Us</a>
    </li>
    <li class="nav-global__item">
      <a class="nav-global__link" href="">About Us</a>
    </li>
  </ul>
</nav>