<form class="filters-form">
  <h5 class="h5 h5--primary filters-form__heading">Filters</h5>
  <div class="filters-form__row">
    <h5 class="h5 filters-form__title">Dental Cover</h5>
    <select class="select input input--block" name="day">
      <option disabled selected>Dental Cover</option>
      <option>Yes</option>
      <option>No</option>
    </select>
  </div>
  <div class="filters-form__row">
    <h5 class="h5 filters-form__title">Maximum yearly cost</h5>
    <select class="select input input--block" name="day">
      <option disabled selected>Maximum yearly cost</option>
      <option>AED 100 000</option>
      <option>AED 200 000</option>
      <option>AED 300 000</option>
    </select>
  </div>
  <div class="filters-form__row">
    <h5 class="h5 filters-form__title">Price Range</h5>
    <div class="filters-form__slider">
      <div class="slider-range slider"></div>
    </div>
  </div>
  <button type="submit" class="btn btn--block btn--secondary btn--uppercase">
    SUBMIT
  </button>
</form>