<form class="filters-form">
  <h5 class="h5 h5--primary filters-form__heading">Filters</h5>
  <div class="filters-form__row">
    <h5 class="h5 filters-form__title">Dental Cover</h5>
    <select class="input input--block" name="day">
      <option disabled selected>Day</option>
      <option>11</option>
      <option>12</option>
      <option>13</option>
    </select>
  </div>
  <div class="filters-form__row">
    <h5 class="h5 filters-form__title">Maximum yearly cost</h5>
    <select class="input input--block" name="day">
      <option disabled selected>Day</option>
      <option>11</option>
      <option>12</option>
      <option>13</option>
    </select>
  </div>
  <div class="filters-form__row">
    <h5 class="h5 filters-form__title">Maximum yearly cost</h5>
    <select class="input input--block" name="day">
      <option disabled selected>Day</option>
      <option>11</option>
      <option>12</option>
      <option>13</option>
    </select>
  </div>
  <button type="submit" class="btn btn--block btn--secondary btn--uppercase">
    SUBMIT
  </button>
</form>