.filters-form {
  &__row {
    @include make-row();

    margin-bottom: 40px;
  }

  &__heading {
    margin-bottom: 24px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__slider {
    width: 100%;
    min-height: 30px;
  }
}