<div class="form">
  <div class="form__container">
    <h3 class="form__heading">About You</h3>
    <form class="form__content">
      <div class="form__row">
        <h5 class="form__title">What is your First name?</h5>
        <input class="input input--block" type="text" placeholder="First Name">
      </div>
      <div class="form__row">
        <h5 class="form__title">What is your Last name?</h5>
        <input class="input input--block" type="text" placeholder="Last Name">
      </div>
      <div class="form__row">
        <h5 class="form__title">Email address</h5>
        <input class="input input--block" type="email" placeholder="Email">
      </div>
      <div class="form__row">
        <h5 class="form__title">Contact phone number</h5>
        <input class="input input--block" type="tel" placeholder="Phone number">
      </div>
      <button type="submit" class="btn btn--block">
        Next
      </button>
    </form>
  </div>
</div>