.results {
  $root: &;

  padding: 8px 0 8px 24px;

  @include media-breakpoint-down(lg) {
    padding-left: 0;
  }

  &__title {
    display: flex;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__filter {
    display: flex;
    align-items: center;

    &-title {
      margin-right: 32px;
    }
  }

  &__content {
    padding-top: 16px;
  }

  &__item {
    margin-bottom: 16px;
  }
}
