<nav class="pagination">
  <ul class="pagination__list">
    <li class="pagination__item">
      <a class="pagination__link pagination__link--go-to-start" href="#">Go to start
        <div class="pagination__icon">Go to start</div>
<!--        <div class="pagination__icon">-->
<!--          <svg>-->
<!--            <use xlink:href="#id"/>-->
<!--          </svg>-->
<!--        </div>-->
    </a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link pagination__link--prev" href="#">Prev
        <div class="pagination__icon">Prev</div>
<!--        <div class="pagination__icon">-->
<!--          <svg>-->
<!--            <use xlink:href="#id"/>-->
<!--          </svg>-->
<!--        </div>-->
      </a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">1</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">2</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">3</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">4</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">5</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link pagination__link--next" href="#">Next
        <div class="pagination__icon">Next</div>
<!--        <div class="pagination__icon">-->
<!--          <svg>-->
<!--            <use xlink:href="#id"/>-->
<!--          </svg>-->
<!--        </div>-->
      </a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link pagination__link--go-to-end" href="#">Go to end
        <div class="pagination__icon">Go to end</div>
<!--        <div class="pagination__icon">-->
<!--          <svg>-->
<!--            <use xlink:href="#id"/>-->
<!--          </svg>-->
<!--        </div>-->
      </a>
    </li>
  </ul>
</nav>