.main-section {
  $root: &;

  position: relative;
  justify-content: space-between;
  width: 100%;
  background-color: $white;

  @include make-row();

  @include media-breakpoint-down(md) {
    flex-direction: column;
    justify-content: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
    height: 100%;
    padding: 110px 0 140px;
  }

  &__heading {
    margin-bottom: 6px;
    font-size: 20px;
    font-family: $font-montserrat-semi;
    line-height: 33px;
    letter-spacing: 0.86px;
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 36px;
    font-family: $font-montserrat-regular;
    line-height: 40px;
    letter-spacing: 0.72px;
  }

  &__text {
    margin-bottom: 32px;
    font-size: 18px;
    font-family: $font-montserrat-regular;
    letter-spacing: 0.36px;
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 55%;
    overflow: hidden;

    @include media-breakpoint-down(md) {
      position: relative;
      width: 100%;
      min-height: 500px;
    }
  }

  &__img {
    position: absolute;
    top: 3%;
    right: 0;
    bottom: -5%;
    left: 0;
    z-index: 2;
    background-image: url("../../../../assets/img/hero-image.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
  }

  &__shape {
    position: absolute;
    border-radius: 50%;

    &--top-left {
      top: 0;
      left: 12%;
      z-index: 1;
      width: 50%;
      padding-bottom: 50%;
      background-color: $malibu;
      opacity: 0.5;
    }

    &--top-right {
      top: -10%;
      right: -8%;
      z-index: 1;
      width: 24%;
      padding-bottom: 24%;
      background-color: $malibu;
      opacity: 0.65;
    }

    &--main {
      top: 4%;
      right: -73%;
      z-index: 0;
      width: 1000px;
      height: 600px;
      background-color: $lightNavy;
      border-radius: 30%;
      transform: rotate(-20deg);
    }
  }
}