<div class="header">
  <div class="header__section">
    <div class="header__container">
      <div class="header__row">
        <div class="header__col">1</div>
        <div class="header__col">2</div>
        <div class="header__col">3</div>
      </div>
    </div>
  </div>
  <div class="header__section">
    <div class="header__container">
      <div class="header__row">
        <div class="header__col">1</div>
        <div class="header__col">2</div>
      </div>
    </div>
  </div>

<!--  <div class="header__container">-->
<!--    <div class="header__row">-->
<!--      <div class="header__col">1</div>-->
<!--      <div class="header__col">2</div>-->
<!--      <div class="header__col">3</div>-->
<!--    </div>-->
<!--  </div>-->
</div>
