.header {
  $root: &;

  display: flex;
  flex-direction: column;
  min-height: inherit;
  overflow: hidden;
  background-color: red;

  &__section {

    &:nth-child(1) {
      min-height: 100px;
      background-color: #ffbf02;
    }

    &:nth-child(2) {
      min-height: 50px;
      background-color: #818181;

      #{$root}__col {

        &:nth-child(1) {
          @include make-col-fix(300px);
        }
      }
    }
  }

  &__container {
    @include make-container();
    @include make-container-max-widths();
  }

  &__row {
    @include make-row();

    min-height: inherit;
  }

  &__col {
    @include make-col-ready();

    padding: 5px;

    &:nth-child(1) {
      @include make-col-fix(150px);

      background-color: green;
    }

    &:nth-child(2) {
      background-color: yellow;
    }

    &:nth-child(3) {
      @include make-col(10, 100);

      background-color: blue;
    }
  }
}
