<div class="header">
  <div class="header__section">
    <div class="header__container">
      <div class="header__row">
        <div class="header__col">
          @include('components/features/logo/logo.html')
        </div>
        <div class="header__col">
          <div class="header__menu">
            @include('components/features/nav-global/nav-global.html')
          </div>
        </div>
        <div class="header__col">
          <button class="btn header__profile-btn" type="button">My Account</button>
          <div class="header__profile">
            @include('components/features/profile/profile.html')
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
