<section class="about">
  <div class="about__container">
    <header class="about__header">
      <h2 class="about__heading h2">About Us</h2>
    </header>
    <div class="about__main">
      <p class="about__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorum explicabo id illo nulla perferendis perspiciatis porro quisquam voluptatum. Cum dolore facere laborum modi molestias porro veritatis voluptatum. Aperiam, soluta.</p>
      <p class="about__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorum explicabo id illo nulla perferendis perspiciatis porro quisquam voluptatum. Cum dolore facere laborum modi molestias porro veritatis voluptatum. Aperiam, soluta.</p>
      <p class="about__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorum explicabo id illo nulla perferendis perspiciatis porro quisquam voluptatum. Cum dolore facere laborum modi molestias porro veritatis voluptatum. Aperiam, soluta.</p>
    </div>
  </div>
</section>