<nav class="social">
  <ul class="social__list">
    <li class="social__item">
      <a href="/" class="social__link">
        <div class="breadcrumbs__icon">facebook</div>
<!--        <div class="social__icon">-->
<!--          <svg>-->
<!--            <use xlink:href="#id"/>-->
<!--          </svg>-->
<!--        </div>-->
      </a>
    </li>
    <li class="social__item">
      <a href="/" class="social__link">
        <div class="breadcrumbs__icon">twitter</div>
<!--        <div class="social__icon">-->
<!--          <svg>-->
<!--            <use xlink:href="#id"/>-->
<!--          </svg>-->
<!--        </div>-->
      </a>
    </li>
    <li class="social__item">
      <a href="/" class="social__link">
        <div class="breadcrumbs__icon">google-plus</div>
<!--        <div class="social__icon">-->
<!--          <svg>-->
<!--            <use xlink:href="#id"/>-->
<!--          </svg>-->
<!--        </div>-->
      </a>
    </li>
    <li class="social__item">
      <a href="/" class="social__link">
        <div class="breadcrumbs__icon">instagram</div>
<!--        <div class="social__icon">-->
<!--          <svg>-->
<!--            <use xlink:href="#id"/>-->
<!--          </svg>-->
<!--        </div>-->
      </a>
    </li>
  </ul>
</nav>