<nav class="social">
  <ul class="social__list">
    <li class="social__item">
      <a href="index.html" class="social__link">
        <div class="social__icon">
          <svg>
            <use xlink:href="#facebook"/>
          </svg>
        </div>
      </a>
    </li>
    <li class="social__item">
      <a href="/" class="social__link">
        <div class="social__icon">
          <svg>
            <use xlink:href="#twi"/>
          </svg>
        </div>
      </a>
    </li>
    <li class="social__item">
      <a href="/" class="social__link">
        <div class="social__icon">
          <svg>
            <use xlink:href="#whatsapp"/>
          </svg>
        </div>
      </a>
    </li>
  </ul>
</nav>