<address class="contact-info">
  <ul class="contact-info__list">
    <li class="contact-info__item">
      <div class="contact-info__content">
        <div class="contact-info__pic">
          <div class="contact-info__icon">Icon</div>
<!--          <div class="contact-info__icon">-->
<!--            <svg>-->
<!--              <use xlink:href="#id"/>-->
<!--            </svg>-->
<!--          </div>-->
        </div>
        <div class="contact-info__body">
          <p class="contact-info__title">Call Today:</p>
          <div class="contact-info__text">
            <a class="contact-info__link" href="tel:+79005948889">+7 (900) 594-88-89</a>;
            <a class="contact-info__link" href="tel:+79005948889">+7 (900) 594-88-89</a>
          </div>
        </div>
      </div>
    </li>
    <li class="contact-info__item">
      <div class="contact-info__content">
        <div class="contact-info__pic">
          <div class="contact-info__icon">Icon</div>
<!--          <div class="contact-info__icon">-->
<!--            <svg>-->
<!--              <use xlink:href="#id" />-->
<!--            </svg>-->
<!--          </div>-->
        </div>
        <div class="contact-info__body">
          <p class="contact-info__title">Write Now:</p>
          <div class="contact-info__text">
            <a class="contact-info__link" href="mailto:exemple@gmail.com">exemple@gmail.com</a>
          </div>
        </div>
      </div>
    </li>
    <li class="contact-info__item">
      <div class="contact-info__content">
        <div class="contact-info__pic">
          <div class="contact-info__icon">Icon</div>
<!--          <div class="contact-info__icon">-->
<!--            <svg>-->
<!--              <use xlink:href="#id" />-->
<!--            </svg>-->
<!--          </div>-->
        </div>
        <div class="contact-info__body">
          <p class="contact-info__title">Opening Hours:</p>
          <div class="contact-info__text">Mon–Fri: <span>9am–6pm</span>; Sun: 10am–1pm</div>
        </div>
      </div>
    </li>
  </ul>
</address>

<br><br><br>

<address class="contact-info">
  <div class="contact-info__content">
    <div class="contact-info__pic">
      <div class="contact-info__icon">Icon</div>
      <!--          <div class="contact-info__icon">-->
      <!--            <svg>-->
      <!--              <use xlink:href="#id" />-->
      <!--            </svg>-->
      <!--          </div>-->
    </div>
    <div class="contact-info__body">
      <p class="contact-info__title">Call Today:</p>
      <div class="contact-info__text">
        <a class="contact-info__link" href="tel:+79005948889">+7 (900) 594-88-89</a>;
        <a class="contact-info__link" href="tel:+79005948889">+7 (900) 594-88-89</a>
      </div>
    </div>
  </div>
</address>

<br><br><br>

<address class="contact-info">
  <div class="contact-info__content">
    <a class="contact-info__link" href="tel:+79005948889">+7 (900) 594-88-89</a>;
  </div>
</address>