<nav class="breadcrumbs">
  <a class="breadcrumbs__link breadcrumbs__link--special" href="#">
    <div class="breadcrumbs__icon">Home</div>
<!--    <div class="breadcrumbs__icon">-->
<!--      <svg>-->
<!--        <use xlink:href="#id"/>-->
<!--      </svg>-->
<!--    </div>-->
  </a>
  <ul class="breadcrumbs__list">
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="#">Page 1</a>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="#">Page 2</a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active">
      <span class="breadcrumbs__link breadcrumbs__link--is-current">Page 3</span>
    </li>
  </ul>
</nav>